<a href="https://colab.research.google.com/github/srs353/samara/blob/main/Errors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
def avg(alist):
  try:
    return sum(alist)/len(alist)
  except ZeroDivisionError:
    print('Division by zero not allowed!')
    return[]
  except TypeError:
    print("Object type not allowed!")
    return float('nan')

In [43]:
list1 = (9,"k")
avg(list1)

Object type not allowed!

nan