<a href="https://colab.research.google.com/github/srs353/samara/blob/main/months.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
t=(1,'two',3.0)

In [1]:
grades = {
    'ALice' : 91,
    'Bob' : 88,
    'Tracy' : 93,
    'Erik' :90
}

In [2]:
for key in grades.keys():
  print(key)

ALice
Bob
Tracy
Erik

In [3]:
for value in grades.values():
  print(value)

91
88
93
90

In [7]:
for key, value in grades.items():
  print(f'Key:{key }, Value:{value}')

Key:ALice, Value:91
Key:Bob, Value:88
Key:Tracy, Value:93
Key:Erik, Value:90

In [10]:
months = {1: "January", 2: "February", 3:"March" }

print(f'The first month of the year is {months[1]}')

The first month of the year is January

In [63]:
months = {}
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan","Feb","Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

In [61]:
for num in range(12):
  months[num+1] = names[num]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [62]:
for numbers in range(1,13):
  months[numbers] = names[numbers-1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

In [64]:
for num in numbers:
  months[num] = names[num-1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}